// Заголовки, загальні БЕМ блоки та інше...

.logo {
  position: relative;
  z-index: 5;
  flex: 0 0 rem(234);

  // .logo_responsive

  &_responsive {
    flex: 0 0;
    @include adaptiveValue("flex-basis", 234, 160);
  }

  img {
    max-width: 100%;
  }
}

.link {
  color: #303030;
  font-size: rem(18);
  font-weight: 500;
  letter-spacing: 0.18px;
  transition: all 0.4s ease 0s;
  &_w {
    color: #fff;
  }
  &_responsive {
    @include adaptiveValue("font-size", 18, 12);
  }

  @media (any-hover: hover){
    &:hover{
      color: $greenColor;
    }
  }
}


.title {
  @include adaptiveValue("font-size", 48, 28);
  font-weight: 700;
  line-height: 150%; 
  letter-spacing: 0.56px;
  align-self: start;
  
  // .title_main

  &_main {
    @include adaptiveValue("font-size", 56, 24, 0, 1400, 767);
  }

  div {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(15);
    row-gap: rem(4);
  }

  p {
    position: relative;

    &::before{
      content:'';
      position: absolute;
      bottom: rem(-15);
      left: 0;
      width: 100%;
      height: 26px;
      background: url('@img/icons/lines-title.svg') center / contain no-repeat;
    }
  }

  // .title_sm

  &_sm {
    p:before {
      left: rem(-2);
      width: 120%;
    }
  }

  // .title_big

  &_big {
  }

  &_no-lines {
    span {
      position: relative;
    }
    span::before {
      content:"";
      z-index: 4;
      position: absolute;
      @include adaptiveValue("right", -35, -25);
      @include adaptiveValue("top", -30, -25);
      @include adaptiveValue("width", 45, 32);
      @include adaptiveValue("height", 50, 36);
      background: url('@img/reviews/lines.svg') center / contain no-repeat;
    }
  }
}
.text {
  @include adaptiveValue("font-size", 20, 14, 1920, 480);
  font-weight: 500;
  line-height: 170%; /* 34px */
  letter-spacing: 0.6px;

  // .text_s16

  &_s16 {
    @include adaptiveValue("font-size", 16, 14, 1920, 480);
  }

  // .text_s24

  &_s24 {
    @include adaptiveValue("font-size", 24, 12, 1920, 480);
  }
}

.button {
  width: rem(317);
  line-height: 1.5;
  border-radius: rem(40);
  border: 1px solid $greenColor;
  background: $greenColor;
  @include adaptiveValue("padding-top", 28, 20);
  @include adaptiveValue("padding-bottom", 28, 20);
  padding-right: rem(44);
  padding-left: rem(44);
  @include adaptiveValue("font-size", 20, 16);
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  display: flex;
  white-space: nowrap;
  flex-direction: row-reverse;
  justify-content: center;
  gap: rem(10);
  transition: all 0.4s ease 0s;

  // .button_sm

  &_sm {
    width: rem(215);
  }

  @media (any-hover: hover){
    &:hover{
      background-color: #A2BA55;
    }
  }

  &::before{
    content:'';
    height: rem(25);
    flex: 0 0 rem(25);
    background: url('../img/icons/arrow.svg') center / cover no-repeat;
  
    @media (max-width:$mobileSmall){
      margin-top: rem(-3); 
    }
  }

  @media (max-width:$mobileSmall){
    justify-content: center; 
    width: 100%;
  }
}


.label {
  color:#FFF;
  @include adaptiveValue("font-size", 20, 12);
  font-weight: 500;
  line-height: 135%; /* s27/20 */
  border-radius: 34px;
  background: $violetColor;
  @include adaptiveValue("padding-top", 16, 10);
  @include adaptiveValue("padding-bottom", 16, 10);
  @include adaptiveValue("padding-right", 40, 12);
  @include adaptiveValue("padding-left", 40, 12);
  span {
    font-weight: 700;
  }
  @media (max-width:$mobile){
    text-align: center;
    width: 100%; 
  }
}

.content-section {
  display: flex;
  flex-direction: column;
  @media (min-width:$mobileSmall){
    align-items: start;
  }

  // @media (max-width:$mobile){

  // }

  // .content-section__label

  &__label {
  }

  // .content-section__title

  &__title {
  }

  // .content-section__text

  &__text {
  }

  // .content-section__btn

  &__btn {
  }
}

.breaket {
  position: absolute;

  @media (max-width: em(1400)){
    display: none; 
  }

  img {
    width: 100%;
  }
}