//====================================================================================================

.footer {
  background-color: $violetColor;
  padding: rem(30) 0;

  // .footer__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    @media (max-width:$tablet){
      align-items: start;
    }
  }

  // .footer__logo

  &__logo {
  }

  // .footer__menu

  &__menu {
  }
}

.menu-footer {

  // .menu-footer__list

  &__list {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 48, 30);
    row-gap: rem(14);

    @media (max-width:$tablet){
      flex-direction: column;
      align-items: end;
    }
  }

  // .menu-footer__item

  &__item {
    text-align: end;
  }

  // .menu-footer__link

  &__link {
  }
}



//====================================================================================================
