//====================================================================================================

.header {
	padding: rem(30) 0;
	box-shadow: 0px 4px 12px 0px rgba(153, 155, 168, 0.16);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 0.4s ease 0s;
	z-index: 10;
	background-color: #fff;

	&._header-scroll {
		position: fixed;
		padding: rem(20) 0;
	}

	// .header__container

	&__container {
		display: flex;
		align-items: center;
		gap: rem(20);
		justify-content: space-between;
	}

	// .header__logo

	&__logo {
		position: relative;
		z-index: 5;
		flex: 0 0 rem(234);

		img {
			max-width: 100%;
		}
	}

	// .header__menu

	&__menu {
	}
}
.menu {

	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		@media (max-width:em(1050)){
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background-color: #fff;
			z-index: 4;
			padding: rem(90) 0 rem(40) 0;
			overflow: auto;
			top: -100vh;
			transition: all 0.3s ease 0s;
			display: flex;
			flex-direction: column;
			align-items: center;

			&::before{
				content:'';
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: rem(76);
				background-color: #fff;
				z-index: 2;
				visibility: hidden;
			}

			.menu-open & {
				top: 0;
			
				&::before{
					visibility: visible;
				}
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 48, 20);

		@media (max-width:em(1050)){
			padding-top: rem(100);
			flex-direction: column;
			justify-content: center;
		}
	}

	// .menu__item

	&__item {
		@media (max-width:em(1050)){
			position: relative;
			&:not(:last-child) {
				padding-bottom: rem(32);
				&::before{
					content:'';
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					width: rem(40);
					height: 1px;
					background: url("@img/line.svg") center / cover no-repeat;
				}
			}
			&:not(:first-child) {
				padding-top: rem(32);
			}
		}
	}

	// .menu__link

	&__link {

		// .menu__link_border

		&_border {
			@media (min-width:em(1050)){
				padding: 14px 24px;
				border: 1px solid#E5D6FF;
				border-radius: rem(24);
			}
		}
	}
}



//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: em(1050)) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

